
backend/.env
backend/.env.*
!backend/.env.example

node_modules/
**/node_modules/

backend/.keystone/


*.db
*.sqlite
*.sqlite3


frontend/.expo/
frontend/.expo-shared/
frontend/web-build/
frontend/android/build/
frontend/ios/build/
frontend/ios/Pods/

*.log
logs/

.DS_Store
Thumbs.db
.vscode/
.idea/
